<h1>Listing memberships</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
  </tr>

<% Membership.all.each do |m| %>
  <tr>
    <td><%=h m.user %></td>
    <td><%=h m.group %></td>
    <td><%= link_to 'Destroy', m, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>